{% extends "shop/base/base.html" %}
{% block content %}
<div class="container" style="padding: 50px;">
	
<form action = "" method = "post">
	{% csrf_token %}
	{{form }}
	<input type="submit" value=Submit>
</form>
</div>
<style>
	input[type=text], input[type=email], textarea {
 width: 100%;
 padding: 12px 20px;
 margin: 8px 0;
 display: inline-block;
}




</style>


<div class="text-center">
	<a style="font-size:30px"href="tel:254-702-972-814">0702972814<i class="fas fa-phone"></i></a>
</div>

{% endblock %}