{% extends "shop/base/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

      <div class="container">
        <div class="card">
        <form method="post" action="{% url 'login' %}" class="text-center">
          {% csrf_token %}
         {{form|crispy}}
          
          <input type="submit" value="login" />
          <input type="hidden" name="next" value="{{ next }}" />
        </form>
      
   Don't have an create an account? <a href="{% url 'users:register' %}">Register</a>
<hr>

    </div>


    {% endblock %}