{% extends "shop/base/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

 

          <h2 class="text-center">Register</h2>
          <div class="container">
    <div class="card">
      
    <form method="post">
        {% csrf_token %}
        <fieldset class="form-group">
        {{form.as_p}}
        <center><button class="btn btn-outline-info" value="Register" type="submit">Register</center>
        </fieldset>
    </form>
    
   Already have an account? <a href="{% url 'login' %}">login</a>
      </div>
    </div>

{% endblock %}